.top{
    background-color: rgba(7, 141, 112, 0.638);
    padding : 20px;
    margin: 0px;
    
  }
  t{margin-left: 100px;}
  .my_icon {
    width: 20px;
    height: 20px;
}
.li{display: inline-block;
padding: 10px;

}
.top a{
  color: rgba(73, 81, 88, 0.858);
  text-decoration: none;
}
nav{
  padding: 20px;
}
nav ol li{
  float: right;
  
}
nav ol li button{
  margin-left: 250px;
  margin-right: 120px;
  color: rgba(0, 128, 0, 0.384);
}
nav ol li a{
  color: rgb(15, 16, 16);
  text-decoration: none;
}

.contacts{
  float:right;
  margin-right:125px ;
}
header div img{
  width: 200px;
  height: 100px;
  margin-left: 100px;
}
header  div{
  display:inline;
}
.logo{
  float: left;
}
.button{
  background-color: rgba(7, 141, 112, 0.638); /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.events{
 background-image: url(../images/bg.jpg);
  margin-top: 50px;
  color: white;
  padding: 180px;
}
.column {
  float: left;
  width: 26%;
  padding: 20px;
  text-align: center;
     
}
.row{
  margin-left: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  
}
.col {
  float: left;
  width: 20%;
  padding: 20px;
  text-align: centre;
     
}
.r_w{
  margin-left: 100px;
}

/* Clear floats after image containers */
.r_w::after {
  content: "";
  clear: both;
  display: table;
  
}

footer div h5{float: left;}
.col_white_amrc { color:#FFF;text-decoration: underline;text-decoration-color: aquamarine;text-decoration-thickness: 3px ;text-align: left;}  
.about p{ text-align: left;}  
footer { width:100%; background-color:#1f2121; min-height:200px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px  ; margin-left: 0px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;;}
.mb10 { padding-bottom:15px ; }
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px; text-align: left;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; float: left;margin-left: 0px; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top: 0px; }
.footer_ul2_amrc li a{ float: left;}


.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px;display: inline-block;}
.social_footer_ul li img{width: 20px;height: 20px; }
.social_footer_ul li i {  width:20px; height:20px; }
.container p{ margin-left: 100px;}
